body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.appHeader, .appList{
  margin-left: 50px;
}
.appList li{
  display: inline;
  color: blue;
  margin-left: 20px;
}
.header{
  color:rgb(117, 21, 228);
  margin-top: 20px;
  margin-left: 50px;
}